/* Fonte */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
/* Importando estilos de pagina */
@import url("Styles/banner.css");
@import url("Styles/cabecalho.css");
@import url("Styles/facilidades.css");
@import url("Styles/newsletter.css");
@import url("Styles/produtos.css");
@import url("Styles/rodape.css");


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--fonte-texto);
	height: 100vh;
	background-color: #F3F6F7;
}

:root {
	/* cores principais para letras e background*/
	--black: #000;
	--white: #fff;
	/*Placeholder */
	--place: #6C757D;
	/*cores desing cards*/
	--verdeClaro: #DAff01;
	--roxoClaro: #8064b1;
	/*Fontes de textos*/
	--fonte-texto: "Inter", sans-serif;
}

.categoria {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	gap: 32px;

	position: absolute;
	width: 1110px;
	height: 263px;
	left: 165px;
	top: 545px;
}

.headline {
	width: 337px;
	height: 39px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 39px;

	color: #212529;

	flex: none;
	order: 0;
	flex-grow: 0;
}

.container_categoria {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 30px;

	width: 1110px;
	height: 192px;

	flex: none;
	order: 1;
	flex-grow: 0;
}

.card0 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;

	width: 160px;
	height: 192px;

	flex: none;
	order: 0;
	flex-grow: 0;


}

.card1 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;

	width: 160px;
	height: 192px;

	flex: none;
	order: 1;
	flex-grow: 0;
}

.card2 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;

	width: 160px;
	height: 192px;




	flex: none;
	order: 2;
	flex-grow: 0;
}

.card3 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;

	width: 160px;
	height: 192px;




	flex: none;
	order: 3;
	flex-grow: 0;
}

.card4 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;

	width: 160px;
	height: 192px;




	flex: none;
	order: 4;
	flex-grow: 0;
}

.card5 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;

	width: 160px;
	height: 192px;




	flex: none;
	order: 5;
	flex-grow: 0;
}

.camisa {
	width: 160px;
	height: 157px;

	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}

.card_text {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 8px 16px;

	width: 160px;
	height: 35px;

	background: var(--black);
	border-radius: 0px;


	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
}

.text {

	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	display: flex;
	align-items: center;
	text-align: center;

	color: var(--white);

	flex: none;
	order: 0;
	flex-grow: 0;
}

.produtos {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	gap: 30px;

	position: absolute;
	width: 1110px;
	height: 1329px;
	left: 165px;
	top: 856px;
}

.headline_produtos {

	width: 481px;
	height: 39px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 39px;

	text-align: center;

	color: #212529;

	flex: none;
	order: 0;
	flex-grow: 0;
}