/* Fonte */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
/* Importando estilos de pagina */
@import url("Styles/banner.css");
@import url("Styles/cabecalho.css");
@import url("Styles/facilidades.css");
@import url("Styles/newsletter.css");
@import url("Styles/produtos.css");
@import url("Styles/rodape.css");
@import url("Styles/categoria.css");



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--fonte-texto);
	background-color: #F3F6F7;
}

:root {
	/* cores principais para letras e background*/
	--black: #000;
	--white: #fff;
	/*Placeholder */
	--place: #6C757D;
	/*cores desing cards*/
	--verdeClaro: #DAff01;
	--roxoClaro: #8064b1;
	/*Fontes de textos*/
	--fonte-texto: "Inter", sans-serif;
}